@font-face{
    font-family: "comforta";
    src: url(../font/comfortaa.light.ttf);
}

@font-face{
    font-family: "coco";
    src: url(../font/Cocomat\ Light-trial.ttf);
}

@font-face{
    font-family: "anti";
    src: url(../font/AntipastoPro_trial.ttf);
}