body{
    text-align: center;
    margin: 50px;
    background-color: rgb(156, 193, 214);
}

div{
  position: absolute;
  font-size: 50px;
  top: 300px;
  left: 200px;
  font-family:'Courier New', Courier, monospace;
  text-align: center;
}

/* .letter_a{
    background-color: blue;
} */

.letter_a{
    width: 100px;
    height: 100px;
    border: 3px solid white;
    border-radius: 50%;
    display: inline-block;
  }

.letter_s{
  height: 100px;
  width: 100px;
  border: 1px solid white;
  display: inline-block;
}

.letter_d{
  height: 25px;
  width: 25px;
  border: 3px solid white;
  display: inline-block;
}

.letter_f{
  height: 10px;
  width: 10px;
  border: 3px solid white;
  display: inline-block;
}

.letter_g{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 5px solid white;
  display: inline-block;
}

.letter_h{
  height: 5px;
  width: 5px;
  border: 0.7px solid white;
  display: inline-block;
}

.letter_j{
  height: 20px;
  width: 20px;
  border: 1px solid white;
  display: inline-block;
}

.letter_k{
  height: 85px;
  width: 85px;
  border-radius: 50%;
  border: 8px solid white;
  display: inline-block;
}

.letter_l{
  height: 5px;
  width: 5px;
  border-radius: 50%;
  border: 1px solid white;
  display: inline-block;
}

  
